@import "reset";
@import "base";
@import "../font/iconfont.css";

html, body {
  width: 100%;
  height: 100%;
}

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

#app {
  width: 100%;
  height: 100%;
}

.template-config {
  position: absolute !important;
  left: 1120px;
  top: 80px;
  background: #ffffff;
  height: 230px;
  width: 150px;
  border: 1px solid #a2a2a2;
  border-radius: 4px;
  z-index: 100;
  line-height: 28px;
  .title {
    height: 28px;
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    background: #cccccc;
    cursor: move;
    color: #333;
  }
  .body {
    padding: 10px;
    position: absolute;
    top: 28px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .title-left {
    float: right;
  }
}

.hide-tab-header {
  .el-tabs__header {
    display: none !important;
  }
}

body {
  .full-loading-self {
    background-color: rgba(255, 255, 255, .6);
  }
}