@charset "UTF-8";
html {
  background: #f5f5f5;
}

$header-height: 50px;
$aside-width: 175px;
$breadcrumb-height: 36px;

header.header {
  padding-left: 20px;
  background: #fff;
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 40;
  transition: all 0.4s;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  //border-bottom:2px solid rgba(0, 0, 0, 0.2);
  //outline:2px solid rgba(0, 0, 0, 0.2);
  .header-logo {
    height: $header-height - 10;
    padding-top: 10px;
  }
  .header-crumbs {
    //padding-top: 5px;
    float: left;
    font-size: 22px;
    color: #888;
    line-height: $header-height;
    font-weight: normal;
    .active {
      color: #000000;
    }
  }
  .header-right-box {
    float: right;
    padding-right: 5px;
    .header-right-item {
      transition: all .25s;
      box-sizing: border-box;
      height: $header-height;
      line-height: $header-height - 8;
      margin-left: 8px;
      padding: 4px;
      float: left;
      &:last-of-type {
        margin-right: 0;
      }
      i {
        line-height: $header-height - 8;
        height: $header-height - 8;
        font-size: 24px;
        display: inline-block;
      }
      &:hover {
        background: #E5E9F2;
      }
    }
  }
  img.header-logo-img {
    height: $header-height - 20;
  }
  .header-head {
    padding: 5px;
    .caret-box {
      height: $header-height - 10;
      width: 20px;
      float: right;
      line-height: 15px;
      padding-top: $header-height/2;
      padding-left: 10px;
    }
    .caret {
      color: #333;
      $borderWidth: 5px;
      border-top: $borderWidth dashed;
      border-right: $borderWidth solid transparent;
      border-left: $borderWidth solid transparent;
    }
    & img.header-head-img {
      width: $header-height - 10;
      height: $header-height - 10;
      border-radius: 50%;
    }
    &.crumbs {

    }

  }
  .header-message {
    padding: 20px 10px 0 10px;
    i {
      font-size: 28px;
    }
  }
}

.header-username {
  color: #fff;
  line-height: 60px;
  margin-right: 20px;
}

aside.aside {
  background: #324157;
  height: 100%;
  width: $aside-width;
  z-index: 30;
  position: fixed;
  transition: all 0.4s;
  padding-top: $header-height;
  .menu-box {
    overflow: auto;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
  .label {
    margin-top: 5px;
    margin-right: 10px;
    float: right;
  }
}

.common-content {
  //overflow: hidden;
  /*position: absolute;
  top: $header-height;
  left: $aside-width;
  right: 0;
  bottom: 0;*/
  padding: $header-height 0 0 $aside-width;
  transition: all 0.4s;
  .breadcrumb {
    //height: $breadcrumb-height;
    width: 100%;
    background: #ffffff;
    padding-left: 8px;
    color: #1F2D3D;
    border-bottom: 2px solid #d8d8d8;
    min-height: $breadcrumb-height;

    .header-crumbs {
      &-left {
        float: left;
        span {
          line-height: $breadcrumb-height;
        }
      }
      &-right {
        float: right;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 10px;
      }
    }

  }
  #contentMain {
    padding: 10px;
  }
}

.common-content .el-tabs--border-card .el-tabs__content {
  padding: 20px;
}

.main-box {
  width: 100%;
  height: 100%;
}

.menu-box-bottom {
  position: absolute;
  bottom: 0;
  height: 25px;
  line-height: 25px;
  background: #a00a0a;
  color: #f2f2f2;
  font-size: 14px;
  width: 100%;
  padding-left: 20px;
}

.menu-box-bottom ~ .menu-box {
  bottom: 25px !important;
}

.menu-animate {
  $width: 18px;
  $height: 30px;
  position: absolute;
  right: -$width;
  width: $width;
  height: $height;
  top: 50%;
  text-align: center;
  background: #D3DCE6;
  border-radius: 0 7px 7px 0;
  cursor: pointer;
  i {
    font-size: 14px;
    line-height: $height;
    font-weight: bold;
    color: #324057;
  }
}

/**
隐藏菜单的时候
 */
.menu-hide {
  .aside {
    width: 0;
    //overflow: hidden;
    transition: all 0.4s;
    .team-info {
      width: 0;
      overflow: hidden;
    }
  }
  .common-content {
    padding-left: 0;
    transition: all 0.4s;
  }
  header.header {
    padding-left: 20px;
    transition: all 0.4s;
  }
}