.option-space {
  padding: 0 0 10px 0;
  &--left {
    float: left;
    .el-input{
      width:auto;
    }
  }
  &--right {
    float: right;
  }
  &--more {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.10);
    // border: 1px solid #dfe6ec; 
    transition: margin-bottom .4s;
    margin-bottom: 0;
    overflow: hidden;
    height: 0;
    &-active {
      margin-bottom: 10px;
    }
  }
  .el-row {
    //margin: 0 !important;
    padding: 12px 16px;
  }
  &--item {
    .el-form-item {
      margin-bottom: 14px;
      margin-top: 4px;
    }
  }

  button, .el-input, select {
    vertical-align: middle;
  }
}